*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;

}

nav{
    width: 100%;
    background-color: rgb(123, 158, 199);
    padding: 1px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    /* background-color: blue; */
    padding: 10px 70px;
    gap: 20px;
    
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;

}

.nav_links{
    padding: 30px;
    display: flex;
    gap: 30px;
    color: black;
    width: 40%;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: space-between;
    
}

.nav_links a{

    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    font-style: none;
    /* display: flex;
    flex-direction: row;
    column-gap: 10px; */
    gap: 30px;
    color: black;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    
}

.nav_links a:hover{
    color: brown;
}

.user_name{
    padding: 10px 30px;
    margin: 30px;
    border-radius: 20%;
    background-color: rgb(233, 235, 226);
    font-size: 16px;
    font-weight: bold;
}

.container{
    min-height: 50vh ;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background: linear-gradient(to right, black , darkgreen); */

}
.left{
    padding: 0px;
    margin: 0px;
    /* background-color: blueviolet; */
    flex-basis: 30%;
    /* width: 9; */
    margin-top: 100px;
    margin-left: -10px;
    text-align: center;
}
.left>h1{
    width: 320px;

    text-align: left;
    /* background-color: aquamarine; */
}

.left>p{
    /* background-color: rgb(170, 47, 57); */
    /* margin-left: ; */
    margin-top: 10px;
    margin-right: -30px;
    text-align: left;
    font-size: 15px;
}
.left>h4{
    background-color: rgb(123, 158, 199);
    margin: 20px ;
    margin-left: 1px;
    margin-right: 70px;
    border: 10px;
    padding: 20px 10px 20px 10px;
    /* border-style:dotted; */
    border-radius: 20px;
}

.right{
    margin: 0;
    padding: 0;
    border: 20px;
    background-color: rgb(238, 224, 26);

}